doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		main
			block header
				header.header
					img(src='images/logoResize.png' alt="Game Logo" class="center")
					h1 #{title}
			block nav
				nav.nav
					if isLoggedIn
						a(href= '/settings')
							| #{username}
					a(href=`/`)
						| Home
			block content
				section(class = "social")
					div(class = "image")
						img(src='images/oni.png' alt="ONI art")
					div(class = "socialContent")
						h2 #{"Player Stats"}
						ul
							li 
								| Found Object: #{playerStats? playerStats.foundObject : ""} 
							li 
								| Total Play Time: #{playerStats? playerStats.totalPlayTimeInMins : ""} 
							li 
								| Total Games Played: #{playerStats? playerStats.totalGames  : ""}
							li 
								| Riddles Solved: #{playerStats? playerStats.riddleSolved : ""} 